<h2>Сканирование документов в Naumen</h2>

<form method="post">
    <p>
        <label for="scanner">Выберите сканер:</label>
        <select name="scanner">
            @foreach (string scanner in ViewBag.Scanner)
            {
                <option>@scanner</option>
            }
        </select>

    </p>

    @if (ViewBag.Scanner.Count > 0)
    {
        <p>
            <label for="format">Формат сканирования:</label>
            <select name="format">
                <option>pdf</option>
                <option>png</option>
                <option>jpeg</option>
            </select>

            <br/>
            <br/>

            <label>Двухстороннее сканирование:</label>
            @if (ViewBag.isDuplex)
            {
                <input type="checkbox" name="isDuplex" value="true" checked/>
            }
            else
            {
                <input type="checkbox" name="isDuplex" value="true"/>
            }

            <label>Автоподача:</label>
            @if (ViewBag.isFeeder)
            {
                <input type="checkbox" name="isFeeder" value="true" checked/>
            }
            else
            {
                <input type="checkbox" name="isFeeder" value="true"/>
            }
            <br/>
            <input type="submit" value="Сканировать"/>
        </p>
    }
    else
    {
        <h3>Устройства для сканирования не найдены.</h3>
    }
</form>